@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Paytone+One&family=Work+Sans:wght@600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-body text-gray-3;
  }
  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-2xl;
  }
}
@layer components {
  .card {
    @apply mt-8 mx-auto relative rounded-3xl grid grid-cols-12 w-full max-w-max;
  }
  .card-content {
    @apply z-10 max-w-md col-span-full p-5 row-span-full md:col-start-5 md:col-end-12;
  }
  .card-content .btn-container {
    @apply flex;
  }
  .card-image {
    @apply col-span-full h-full max-w-lg relative row-span-full md:col-start-1 md:col-end-7 md:row-start-1 opacity-40;
  }
  @media (min-width: 767px) {
    .card:nth-child(odd) .card-content {
      grid-column: 1/7;
      text-align: left;
    }
    .card:nth-child(even) .card-content {
      text-align: right;
    }
    .card:nth-child(even) .card-image {
      grid-column: 1/9;
    }
    .card:nth-child(even) .btn-container {
      @apply justify-end;
    }
    .card:nth-child(odd) .card-image {
      grid-column: 5/12;
    }
  }
}

#smoke-1 {
  stroke-dasharray: 0, 10;
  -webkit-animation: smoke 6s ease infinite;
  animation: smoke 6s ease infinite;
}

#smoke-2 {
  stroke-dasharray: 0, 10;
  -webkit-animation: smoke 6s 0.5s ease infinite;
  animation: smoke 6s 0.5s ease infinite;
}

@-webkit-keyframes smoke {
  0% {
    stroke-dasharray: 0, 10;
  }
  50% {
    stroke-dasharray: 10, 0;
  }
  100% {
    stroke-dasharray: 10, 0;
    opacity: 0;
  }
}

@keyframes smoke {
  0% {
    stroke-dasharray: 0, 10;
  }
  50% {
    stroke-dasharray: 10, 0;
  }
  100% {
    stroke-dasharray: 10, 0;
    opacity: 0;
  }
}

#line-1 {
  opacity: 0;
  -webkit-animation: writing 0.5s linear forwards;
  animation: writing 0.5s linear forwards;
}

#line-2 {
  opacity: 0;
  -webkit-animation: writing 0.5s 1s linear forwards;
  animation: writing 0.5s 1s linear forwards;
}

#line-3 {
  opacity: 0;
  -webkit-animation: writing 0.5s 1.5s linear forwards;
  animation: writing 0.5s 1.5s linear forwards;
}

#line-4 {
  opacity: 0;
  -webkit-animation: writing 0.5s 2s linear forwards;
  animation: writing 0.5s 2s linear forwards;
}

@-webkit-keyframes writing {
  0% {
    width: 0px;
    opacity: 1;
  }
  100% {
    width: 14px;
    opacity: 1;
  }
}

@keyframes writing {
  0% {
    width: 0px;
    opacity: 1;
  }
  100% {
    width: 14px;
    opacity: 1;
  }
}
